{% extends 'base.html' %}
{% block head %}
        <style>
          body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
          }
          
          html {
            box-sizing: border-box;
          }
          
          *, *:before, *:after {
            box-sizing: inherit;
          }
          
          .column {
            float: left;
            width: 25%;
            margin-bottom: 16px;
            padding: 0 8px;
          }
          
          .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 8px;
          }
          
          .about-section {
            padding: 5px;
            text-align: center;
            background-color: #474e5d;
            color: white;
          }
          
          .container {
            padding: 0 16px;
          }
          
          .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
          }
          
          .title {
            color: grey;
          }
          
          .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
          }
          
          .button:hover {
            background-color: #555;
          }
          
          @media screen and (max-width: 650px) {
            .column {
              width: 100%;
              display: block;
            }
          }
        </style>

{% endblock head %}

{% block body %}

<div class="about-section">
  <h1>About Us</h1>
  <p>We together developed this model for imparied people all around the world.
	So that we ease the communication between specially abled people.
	We are students of Medicaps University Indore </p>
</div>

<h2 style="text-align:center">Our Team</h2>


 
  
  <div class="row">
      <div class="column">
        <div class="card">
          <img src="/static/arran.jpeg" alt="Arran P Gonsalves" style="width:100%">
          <div class="container">
            <h3>Arran P Gonsalves</h3>
            <p class="title">Student</p>
            <p>arrangonsalves52@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/static/kevin.jpg" alt="Kevin Gajjar" style="width:100%">
          <div class="container">
            <h2>Kevin Gajjar</h2>
            <p class="title">Student</p>
            <p>kevingajjar14@gmail.com</p>
            <p></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/static/aman.jpeg" alt="Aman Agrawal" style="width:100%">
          <div class="container">
            <h2>Aman Agrawal</h2>
            <p class="title">Student</p>
            <p>agrawalaman0321@gmail.com</p>
          </div>
        </div>
      </div>
  
      <div class="column">
        <div class="card">
          <img src="/static/gargi.PNG" alt="Gargi singh" style="width:100%">
          <div class="container">
            <h2>Gargi Singh</h2>
            <p class="title">Student</p>
            <p>gargisingh8435@gmail.com</p>
          </div>
        </div>
      </div>
  </div>



{% endblock body %}
